@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    overflow: hidden;
}

* {
    color: white;
    user-select: none;
}

.health {
    position: absolute;
    bottom: .5vw;
    left: 3vw;
    width: 1.8vw;
    height: .4vw;
    background-color: rgb(30, 32, 51);
    border-radius: 1vw;
}

.progresshealth {
    height: 100%;
    max-width: 1.8vw;
    background-color: rgb(124, 203, 215);
    border-radius: 1vw;
}

#health-icon {
    font-size: .8vw;
    position: absolute;
    bottom: -.2vw;
    color: rgb(124, 203, 215);
    left: -1vw;
}

.thirst {
    position: absolute;
    bottom: .5vw;
    left: 6.2vw;
    width: 1.8vw;
    height: .4vw;
    background-color: rgb(30, 32, 51);
    border-radius: 1vw;
}

.progressthirst {
    height: 100%;
    max-width: 1.8vw;
    background-color: rgb(124, 203, 215);
    border-radius: 1vw;
}

#thirst-icon {
    font-size: .85vw;
    position: absolute;
    bottom: -.2vw;
    color: rgb(124, 203, 215);
    left: -.7vw;
}

.hunger {
    position: absolute;
    bottom: .5vw;
    left: 9.55vw;
    width: 1.8vw;
    height: .4vw;
    background-color: rgb(30, 32, 51);
    border-radius: 1vw;
}

.progresshunger {
    height: 100%;
    max-width: 1.8vw;
    background-color: rgb(124, 203, 215);
    border-radius: 1vw;
}

#hunger-icon {
    font-size: .7vw;
    position: absolute;
    bottom: -.2vw;
    color: rgb(124, 203, 215);
    left: -1vw;
}

.armor {
    position: absolute;
    bottom: .5vw;
    left: 13vw;
    width: 1.8vw;
    height: .4vw;
    background-color: rgb(30, 32, 51);
    border-radius: 1vw;
}

.progressarmor {
    height: 100%;
    max-width: 1.8vw;
    background-color: rgb(124, 203, 215);
    border-radius: 1vw;
}

#armor-icon {
    font-size: .7vw;
    position: absolute;
    bottom: -.2vw;
    color: rgb(124, 203, 215);
    left: -1vw;
}

.money-container {
    position: absolute;
    bottom: 12vw;
    left: 2.2vw;
}

.numero-efectivo {
    position: absolute;
    color: rgb(104, 166, 120);
    font-size: .7vw;
    font-family: 'Montserrat', sans-serif;
    left: 1vw;
    bottom: -.9vw;
}

#efectivo-icon {
    position: absolute;
    color: rgb(104, 166, 120);
    left: 0vw;
    bottom: -.85vw;
    font-size: .7vw;
}

.numero-banco {
    position: absolute;
    color: white;
    font-size: .7vw;
    font-family: 'Montserrat', sans-serif;
    left: 7.9vw;
    bottom: -.9vw;
}

#banco-icon {
    position: absolute;
    color: white;
    left: 7vw;
    bottom: -.85vw;
    font-size: .7vw;
}

.container-car {
    position: fixed;
    background-color: rgb(8, 9, 17);
    box-shadow: 0 0 .6vw rgb(8, 9, 17);
    border-radius: .3vw;
    width: 13.5vw;
    height: 8vw;
    left: 84%;
    bottom: 2vw;
}
 
.km1{
    position: absolute;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 2.85vw;
    top: -3vw;
    font-size: 2vw;
    text-align: center;
    transform: translateY(100%);
}
 
.km2{
    position: absolute;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif ;
    left: 2.5vw;
    font-weight: 10;
    top: 1.9vw;
    font-size: .9vw;
}
 
.gfuel{
    position: absolute;
    top: 4.3vw;
    font-size: .9vw;
    left: 10%;
    color: aliceblue;
}
 
.progress{
    position: absolute;
    background-color: rgba(46, 72, 145, 0.445);
    border-radius: .2vw;
    width: 10vw;
    height: .6vw;
    top: 4.5vw;
    left: 20%;
    -webkit-border-radius: .2vw;
    -moz-border-radius: .2vw;
    -ms-border-radius: .2vw;
    -o-border-radius: .2vw;
}
 
.progressbargasolina {
    background-color: rgb(44, 89, 211);
    border-radius: .2vw;
    max-width: 10vw;
    height: 100%;
    -webkit-border-radius: .2vw;
    -moz-border-radius: .2vw;
    -ms-border-radius: .2vw;
    -o-border-radius: .2vw;
}
 
.trifotri{
    position: absolute;
    color: aliceblue;
    top: 3.7vw;
    left: 7.3vw;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: .75vw;
}
 
.bombilla{
    position: absolute;
    top: 6.5vw;
    font-size: .9vw;
    color: aliceblue;
    left: 10%;
}
 
.bloqueado{
    position: absolute;
    top: 6.5vw;
    font-size: .9vw;
    color: rgba(240, 248, 255, 0.39);
    left: 30%;
}
 
.progress2 {
    position: absolute;
    background-color: rgb(41, 41, 41);
    border-radius: .1vw;
    width: 5vw;
    height: .2vw;
    left: 7.2vw;
    top: 3.15vw;
    -webkit-border-radius: .1vw;
    -moz-border-radius: .1vw;
    -ms-border-radius: .1vw;
    -o-border-radius: .1vw;
}
 
.marchasprogress{
    background-color: rgb(231, 88, 78);
    border-radius: .1vw;
    max-width: 5vw;
    height: 100%;
    -webkit-border-radius: .1vw;
    -moz-border-radius: .1vw;
    -ms-border-radius: .1vw;
    -o-border-radius: .1vw;
}
 
.marchas{
    position: absolute;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 9vw;
    top: -.6vw;
    font-size: 2vw;
}